[[source]]

url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"
matplotlib = "*"
sklearn = "*"
jupyter = "*"
pillow = "*"
pandas = "*"
tensorflow = "*"
"a72ba9a" = {path = ".\\opencv_python-3.4.1-cp36-cp36m-win_amd64.whl"}
pygame = "*"


[dev-packages]



[requires]

python_version = "3.6"
